.main-section {
  margin-bottom: 10px;
}

.circuit-info ul {
    text-decoration: none;
    list-style: none;
}

.circuit-info ul {
  list-style: none;
  font-size: 15px;
}

.circuit-info ul li + li {
  margin-top: 10px;
}

/* By Angel Bartolli https://codepen.io/bartolli/pen/vWyXeG */
details{
  background:#fff;
  font-size:16px;
  border-bottom:1px solid #e0e0e0;
  box-shadow:0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  display:flex; 
  margin-bottom:16px;
}

details div.content{
  padding:0px 24px 24px 24px;
}

details[open] summary:after {
  color: var(--blue);
  content: "expand_less";
  font-family: 'Material Icons';
}

details[open]{
  margin-top:16px;
  margin-bottom:16px;
  border:none;
  border-radius: 2px;
}

details[open]:first-child{
  margin-top:0;
  margin-bottom:16px;
  border:none;
}

details[open]:last-child{
  margin-top:16px;
  margin-bottom:0px;
  border:none;
}

summary{
  outline:none;
  cursor: pointer;
  padding: 16px 24px;
  color:#212121;
  position: relative;
  font-size: 15px;
}

summary:hover{
  background:#eeeeee;
}

details[open] summary:hover{
  background:none;
}

summary ul {
  padding-left: 0;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

summary ul li{
  flex: 1 50%;
  flex-flow: row wrap;
}

summary ul li:first-child {
  flex: 1 100%;
}

summary ul li span{
  display: block;
  font-size: 12px;
  margin-top: 6px;
  opacity: .75;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "expand_more";
  font-family: 'Material Icons';
  color: var(--blue);
  font-size: 1.5em;
  padding: 0;
  text-align: center;
  margin-top: 0;
  position: absolute;
  top: calc(50% - 12px);
  bottom: 0;
  right: 0;
  width: 6%;
}  

.titleValue { 
  color: #757575; 
}  

.list-unstyled {
  margin-top:15px; padding-left: 0; list-style: none;
}

.list-unstyled li { 
  margin-bottom:6px; 
}

/**/
.inst-table > * {
  font-size: 15px;
}

thead {
  background-color: #e9e9e9;
}

th i {
  color: var(--blue);
}

tr.inst-item .inst-name {
  width: 65%;
}

tr.inst-item .inst-tel {
  width: 35%;
}